USE [master]
GO
/****** Object:  Database [TimeSheetDriversDB]    Script Date: 4. 3. 2021. 14:30:02 ******/
CREATE DATABASE [TimeSheetDriversDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TimeSheetDriversDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TimeSheetDriversDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TimeSheetDriversDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TimeSheetDriversDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TimeSheetDriversDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TimeSheetDriversDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4. 3. 2021. 14:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditFiles]    Script Date: 4. 3. 2021. 14:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditFiles](
	[AuditFileId] [int] IDENTITY(1,1) NOT NULL,
	[Field] [int] NOT NULL,
	[OldValue] [datetime2](7) NULL,
	[NewValue] [datetime2](7) NULL,
	[DateChanged] [datetime2](7) NOT NULL,
	[ChangedByUserId] [int] NOT NULL,
	[TimeSheetId] [int] NOT NULL,
 CONSTRAINT [PK_AuditFiles] PRIMARY KEY CLUSTERED 
(
	[AuditFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 4. 3. 2021. 14:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[DateOfRequest] [datetime2](7) NOT NULL,
	[RequestType] [int] NOT NULL,
	[StartDateTime] [datetime2](7) NOT NULL,
	[EndDateTime] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Requests] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4. 3. 2021. 14:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSheets]    Script Date: 4. 3. 2021. 14:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSheets](
	[TimeSheetId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL,
	[EntryDate] [datetime2](7) NOT NULL,
	[DayType] [int] NOT NULL,
	[StartTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[BreakTime] [datetime2](7) NULL,
	[MetersSquared] [int] NULL,
	[KmStand] [int] NULL,
	[PrivatTanken] [int] NULL,
	[Fuel] [int] NULL,
	[AdBlue] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_TimeSheets] PRIMARY KEY CLUSTERED 
(
	[TimeSheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4. 3. 2021. 14:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[PersonalNo] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[FMNumber] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[EntryDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebAuthTokens]    Script Date: 4. 3. 2021. 14:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebAuthTokens](
	[Value] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_WebAuthTokens] PRIMARY KEY CLUSTERED 
(
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210304132204_Initial', N'3.1.12')
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Super User')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[TimeSheets] ON 

INSERT [dbo].[TimeSheets] ([TimeSheetId], [Status], [EntryDate], [DayType], [StartTime], [EndTime], [BreakTime], [MetersSquared], [KmStand], [PrivatTanken], [Fuel], [AdBlue], [Notes], [UserId]) VALUES (1, 0, CAST(N'2021-03-04T00:00:00.0000000' AS DateTime2), 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2)
INSERT [dbo].[TimeSheets] ([TimeSheetId], [Status], [EntryDate], [DayType], [StartTime], [EndTime], [BreakTime], [MetersSquared], [KmStand], [PrivatTanken], [Fuel], [AdBlue], [Notes], [UserId]) VALUES (2, 0, CAST(N'2021-03-05T00:00:00.0000000' AS DateTime2), 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2)
INSERT [dbo].[TimeSheets] ([TimeSheetId], [Status], [EntryDate], [DayType], [StartTime], [EndTime], [BreakTime], [MetersSquared], [KmStand], [PrivatTanken], [Fuel], [AdBlue], [Notes], [UserId]) VALUES (3, 0, CAST(N'2021-03-06T00:00:00.0000000' AS DateTime2), 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[TimeSheets] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Password], [Username], [PersonalNo], [FirstName], [LastName], [FMNumber], [RoleId], [Email], [EntryDate]) VALUES (1, N'$2y$12$VgzoyMZuq/NHYBENXcYgqeOrWMstxZu6Pkdc2/Oy1a3FPEqExH8RO', N'Dakn', 2001, N'Dario', N'Knezevic', 1, 2, N'dario@gmail.com', CAST(N'2021-03-04T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Password], [Username], [PersonalNo], [FirstName], [LastName], [FMNumber], [RoleId], [Email], [EntryDate]) VALUES (2, N'$2a$11$llI15Fn1hcocEDTm.3A/8.FQ4.QtR1hPQZv8Q9pHFcSUfF/Ct0J7m', N'Elta', 3002, N'Elvin', N'Taric', 2, 3, N'elvin@gmail.com', CAST(N'2021-03-04T14:29:19.2233111' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
INSERT [dbo].[WebAuthTokens] ([Value], [UserId], [DateCreated]) VALUES (N'ec9e7848-10d0-487d-8c1e-aecb448d4bd1', 1, CAST(N'2021-03-04T14:27:52.0469084' AS DateTime2))
/****** Object:  Index [IX_AuditFiles_ChangedByUserId]    Script Date: 4. 3. 2021. 14:30:03 ******/
CREATE NONCLUSTERED INDEX [IX_AuditFiles_ChangedByUserId] ON [dbo].[AuditFiles]
(
	[ChangedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditFiles_TimeSheetId]    Script Date: 4. 3. 2021. 14:30:03 ******/
CREATE NONCLUSTERED INDEX [IX_AuditFiles_TimeSheetId] ON [dbo].[AuditFiles]
(
	[TimeSheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_UserId]    Script Date: 4. 3. 2021. 14:30:03 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_UserId] ON [dbo].[Requests]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeSheets_UserId]    Script Date: 4. 3. 2021. 14:30:03 ******/
CREATE NONCLUSTERED INDEX [IX_TimeSheets_UserId] ON [dbo].[TimeSheets]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 4. 3. 2021. 14:30:03 ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebAuthTokens_UserId]    Script Date: 4. 3. 2021. 14:30:03 ******/
CREATE NONCLUSTERED INDEX [IX_WebAuthTokens_UserId] ON [dbo].[WebAuthTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditFiles]  WITH CHECK ADD  CONSTRAINT [FK_AuditFiles_TimeSheets_TimeSheetId] FOREIGN KEY([TimeSheetId])
REFERENCES [dbo].[TimeSheets] ([TimeSheetId])
GO
ALTER TABLE [dbo].[AuditFiles] CHECK CONSTRAINT [FK_AuditFiles_TimeSheets_TimeSheetId]
GO
ALTER TABLE [dbo].[AuditFiles]  WITH CHECK ADD  CONSTRAINT [FK_AuditFiles_Users_ChangedByUserId] FOREIGN KEY([ChangedByUserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuditFiles] CHECK CONSTRAINT [FK_AuditFiles_Users_ChangedByUserId]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Users_UserId]
GO
ALTER TABLE [dbo].[TimeSheets]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheets_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimeSheets] CHECK CONSTRAINT [FK_TimeSheets_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [dbo].[WebAuthTokens]  WITH CHECK ADD  CONSTRAINT [FK_WebAuthTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WebAuthTokens] CHECK CONSTRAINT [FK_WebAuthTokens_Users_UserId]
GO
USE [master]
GO
